<div class="no-results-found">
  <img src="/assets/images/sentiment_very_dissatisfie.svg" class="no-results-found--image" alt="Lista Vazia">
  <p class="no-results-found--text">Sua busca não teve resultado!!!</p>
</div>