.content {
  margin: 30px auto;
  max-width: 1200px;
  width: 95%;
  min-height: calc(100vh - 60px);
  padding: 30px;

  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  background-color: white;
  border-radius: 3px;
}
