@import 'helpers';
@import 'spinner';
@import 'form';
@import 'layout';

* {
  outline:none; 
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #eff1f2;
  color: #4a4a4a;
}

a, a[routerlink] {
  cursor: pointer;
}

.wrapper {
  min-height: calc(100vh);
}

.limit {
  margin: auto;
  max-width: 1200px;
  width: 95%;
  padding: 30px 0;
}
