<div class="spinner-container" [ngClass]="{'show': loading}">
  <mat-spinner></mat-spinner>
</div>
<div class="content flex flex-direction-column align-items-center">
  <form [formGroup]="searchForm" class="search-form" autocomplete="off" [ngClass]="{ 'center': !isSearch() }">
    <div>
      <mat-form-field class="demo-full-width">
        <input matInput formControlName="q" placeholder="Pesquisar" autocomplete="off">
      </mat-form-field>
      <button type="submit" mat-button color="primary" class="search-form--button" (click)="sendForm()">
        <img src="/assets/images/button-search.svg" alt="Buscar">
      </button>
    </div>
  </form>
  <ic-no-results-found *ngIf="loaded && videos.length === 0"></ic-no-results-found>
  <div class="lists">
    <ic-video *ngFor="let video of videos; let i = index" [video]="video"></ic-video>
  </div>
  <div class="pagination" *ngIf="totalResults > 1 && videos.length > 0">
    <button type="click" mat-icon-button color="primary" [disabled]="!prevPageToken" (click)="prev()">
      <img src="/assets/images/button-prev.svg" alt="Buscar">
    </button>
    <button type="click" mat-icon-button color="primary" [disabled]="!nextPageToken" (click)="next()">
      <img src="/assets/images/button-next.svg" alt="Buscar">
    </button>
  </div>
  <ic-carousel class="ic-carousel" [videos]="videos" [items]="4" [autoplayTimeout]="1000"></ic-carousel>
</div>
