.search-form {
  transition: all .2s ease-in-out;

  position: relative;
  max-width: 600px;
  width: 100%;
  &--button {
    position: absolute;
    top: 10px;
    right: 0;
    min-width: inherit;
  }
  &.center {
    margin-top: 25%;
  }
}

.lists {
  max-width: 600px;
  width: 100%;
}

.ic-carousel {
  max-width: 600px;
  width: 100%;
  margin-top: 20px;
}