<div class="item-video">
  <a routerLink="/{{ video.id.videoId }}" class="item-video--image"><img src="{{ video.snippet.thumbnails.default.url }}" alt=""></a>
  <div class="item-video--content">
    <a routerLink="/{{ video.id.videoId }}" class="item-video--content__title">
      {{ video.snippet.title }}
    </a>
    <p class="item-video--content__description">{{ video.snippet.description }}</p>
  </div>
</div>