.item-video {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  &--image {
    margin-right: 15px;
    img {
      width: 120px;
    }
  }
  &--content {
    &__title {
      font-size: 18px;
      color: #4a4a4a;
      small {
        font-size: 12px;
        color: #ccc;
      }
    }
    &__description {
      font-size: 14px;
      color: #888888;
    }
  }
}

@media (max-width: 767px) {
  .item-video {
    flex-direction: column;
    &--image {
      margin-right: 0;
      img {
        width: 100%;
      }
    }
  }
}
