<div class="spinner-container" [ngClass]="{'show': loading}">
  <mat-spinner></mat-spinner>
</div>
<div class="content">
  <a href="javascript: history.go(-1)"><img src="/assets/images/button-backspace.svg" alt=""></a>
  <div class="video-detail" *ngIf="!loading">
    <div class="video-detail--iframe">
      <iframe width="560" height="315" [src]="videoUrl(video.id)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="video-detail--title">
      <h1>{{ video.snippet.title }}</h1>
    </div>
    <div class="video-detail--statistics flex">
      <div class="video-detail--statistics__views">{{ video.statistics.viewCount }} Visualizações</div>
      <div class="video-detail--statistics__like flex"><img src="/assets/images/icon-like.svg" alt=""> {{ video.statistics.likeCount }}</div>
      <div class="video-detail--statistics__deslike flex"><img src="/assets/images/icon-deslike.svg" alt="">{{ video.statistics.dislikeCount }}</div>
    </div>
    <div class="video-detail--description">
      <p>{{ video.snippet.description }}</p>
    </div>
  </div>
</div>