.video-detail {
  &--iframe {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    iframe {
      max-width: 560px;
      width: 100%;
      height: 315px;
    }
  }
  &--title {
    margin-bottom: 10px;
    h1 {
      font-size: 2rem;
      font-weight: 300;
    }
  }
  &--statistics {
    width: 100%;
    &__like {
      font-size: 1.5rem;
      margin-right: 15px;
      img {
        margin-right: 5px;
      }
    }
    &__deslike {
      font-size: 1.5rem;
      img {
        margin-right: 5px;
      }
    }
    &__views {
      flex: 1;
      font-size: 1.5rem;
    }
  }
  &--description {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .video-detail {
    &--statistics {
      flex-wrap: wrap;
      &__views {
        flex: 100%;
      }
    }
  }
}
