.carousel {
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  display: block;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  &-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // transition: all .6s ease-in-out;
    // transition: transform 5000ms cubic-bezier(0, 0, 1, 1) 0s  ;
  }
  &--item {
    width: 25%;
    width: 225px;
    margin-left: 5px;
    img {
      width: 100%;
    }
  }
}
