<div class="carousel" (mouseover)="mouseEnter()" (mouseleave)="mouseLeave()">
  <div class="carousel-container" [style.width]="width+'px'" [style.margin]="'0 0 0 ' + translateX + 'px'">
    <div class="carousel--item" [style.width]="widthItem+'px'" *ngFor="let video of videosClone; let i = index" [ngClass]="{ 'active' : i == count }">
      <img src="{{ video.snippet.thumbnails.medium.url }}" alt="">
    </div>
  </div>
</div>
